/* Parte del codigo par poder acomodar la barrera de la parte baja de las opciones*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quiicksand' , sans-serif;
    font-size: 20px;
}

body{
    background-color: #8FC696;
    margin-bottom: 85px;
    

}
.header{
    background-color: #00500A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}


.header .nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 250%;
}


.header .nav-links li{
display: inline-block;
padding: 0 3px;
}


.header .nav-links li:hover{
    transform: scale(1.1);
}

header .nav-links a{
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
    font-size: 30px; /* Aumenta el tamaño del texto */
}

.header .nav-links li a:hover{
    color: #8FC696;
}


.header .nav-links li a img {
    height: 55px; 
    width: auto;
    margin-right: 7px;
    vertical-align: middle;
}

.header .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

/* Parte del codigo par poder acomodar y dar formato a las opciones de los cursos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
   }
   
   .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .icon-button {
    background-color:  #00500A;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
   }
   
   .icon-button:hover {
    background-color: green;
   }

   .grid-item .icon-button {
    color: white; 
    font-family:'Quiicksand' , sans-serif;
}

.grid-item .icon-button {
    border-radius: 15px; 
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px; 
    background-color: #00500A;
    border: none;
    padding: 15px 30px;
    font-size: 35px;
    cursor: pointer;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 15px;
}

.button-image {
    width: 95px; 
    height: 95px; 
    margin-right: 30px;
    margin-left: 30px;

}

/*imagen de la mano */
.button-manos {
margin: auto;
margin-left: 100px;
width: 150px; 
height: 150px; 
}